<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employees</title>
</head>
<body>
<h1><span  th:text="#{create_employees}"></span></h1>
<a href="/employees"><span th:text="#{back_list_employeess}"></span></a>
<br>
Language: <a href="?lang=vn">VietNamese</a> | <a href="?lang=en">English</a>
<form th:action="@{/create-employees}" method="post" th:object="${employeesform}" enctype="multipart/form-data">
    <table border="1">
        <tr>
            <td th:text="#{label_name}"></td>
            <td><input type="text" th:field="*{name}"></td>
        </tr><tr>
            <td th:text="#{label_yearOld}"></td>
            <td><input type="text" th:field="*{yearOld}"></td>
        </tr>
        <tr>
            <td th:text="#{label_phoneNumber}"></td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td th:text="#{label_email}"></td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td th:text="#{label_address}"></td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td th:text="#{label_office}"></td>
            <td><select th:field="*{office}">
                <option th:each="p:${office}" th:value="${p.id}" th:text="${p.name}"></option>
            </select>
            </td>
        </tr>
        <tr>
            <td th:text="#{label_image}"></td>
            <td><input type="file" th:field="*{image}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create Employees">
            </td>
        </tr>

    </table>
</form>
</body>
</html>