<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Employees</title>
</head>
<body>
<h1 th:text="#{delete_employees}"></h1>
<a href="/employees"><span th:text="#{back_list_employeess}"></span></a>
Language: <a href="?lang=vn">VietNamese</a> | <a href="?lang=en">English</a>
<br>
<span>Are You Sure ?</span>
<form th:action="@{/delete-employees}" method="post" th:object="${employees}">
    <table border="1">
        <input type="hidden" th:field="*{id}">
        <tr>
            <td th:text="#{label_name}"></td>
            <td><input type="text" th:field="*{name}"></td>
        </tr><tr>
        <td th:text="#{label_yearOld}"></td>
        <td><input type="text" th:field="*{yearOld}"></td>
    </tr>
        <tr>
            <td th:text="#{label_phoneNumber}"></td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td th:text="#{label_email}"></td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td th:text="#{label_address}"></td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td th:text="#{label_office}">O</td>
            <td><input type="text" th:field="*{office.name}"></td>
            </td>
        </tr>
        <td th:text="#{label_image}"></td>
        <td>
            <img th:src="@{/resources/image/__*{image}__}" th:width="200" th:height="200">
        </td>

        <tr>
            <td>
                <input type="submit" value="Delete Employees">
            </td>
        </tr>

    </table>
</form>
</body>
</html>