<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employees</title>
</head>
<body>
<h1><span th:text="#{edit_employees}"></span></h1>
<a href="/employees"><span th:text="#{back_list_employeess}"></span></a>
<br>
Language: <a href="?lang=vn">VietNamese</a> | <a href="?lang=en">English</a>
<br>
<form th:action="@{/edit-employees}" method="post" th:object="${employees}">
    <table border="1">
        <input type="hidden" th:field="*{id}">
        <tr>
            <td th:text="#{label_name}"></td>
            <td><input type="text" th:field="*{name}"></td>
        </tr><tr>
        <td th:text="#{label_yearOld}"></td>
        <td><input type="text" th:field="*{yearOld}"></td>
    </tr>
        <tr>
            <td th:text="#{label_phoneNumber}"></td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td th:text="#{label_email}"></td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td th:text="#{label_address}"></td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td th:text="#{label_office}">O</td>
            <td><select th:field="*{office}">
                <option th:each="p:${office}" th:value="${p.id}" th:text="${p.name}"></option>
            </select>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Edit Employees">
            </td>
        </tr>

    </table>
</form>
</body>
</html>